:root {
  --primary-color: #cf1578;
  --background-color: #12a4d9;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 5fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
  }
}

.header {
  grid-area: header;
  grid-auto-flow: column;
  grid-template-columns: auto; /* prende tutta la larghezza */
  gap: 10px;
  padding: 10px;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

@media (max-width: 500px) {
  .header {
    grid-auto-flow: row;
    gap: 5px;
  }
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
  display: grid;
  justify-content: center;
}

.footer {
  grid-area: footer;
  display: grid;
  padding-top: 1rem;
  justify-content: center;
  color: white;
  background-color: var(--background-color);
}

.card {
  display: block;
  width: "300px";
}
